/* .header-card {
    display: flex;
} */

/* .header-name, .header-position, .header-teamAbbr, .header-seasonPts, .header-seasonProjectedPts, .header-weekPts, .header-weekProjectedPts {
    margin: 0 4px;
} */


/* 
.header-abbr {
    min-width: 50px;
}

.header-position {
    min-width: 50px;
}

.header-teamAbbr {
    min-width: 50px;
}

.header-seasonPts {
    min-width: 75px;
}

.header-seasonProjectedPts {
    min-width: 75px;
}

.header-weekPts {
    min-width: 30px;
}

.header-weekProjectedPts {
    min-width: 75px;
} */

/* .header-abbr {
    min-width: 50px;
    margin: 10px 10px;
} */

/* #header-abbr-63, #header-abbr-64, #header-abbr-65, #header-abbr-66, #header-abbr-67, #header-abbr-68 {
    min-width: 80px;
}


#header-abbr-90 {
    min-width: 120px;
}

#header-abbr-91 {
    min-width: 150px;
}

#header-abbr-92, #header-abbr-93 {
    min-width: 70px;
} */